div.infoPanel {
	margin:200px auto 0;
	width:270px;
	height:250px;
	
	background:#fff;
	border-radius:15px;
	box-shadow:0 0 20px #777; -webkit-box-shadow:0 0 20px #777;
	padding:0;
}

div.infoPanel table {
	margin:10px 15px;
	font-size:16px;
	color:#555;
}

div.infoPanel table input {
	margin-left:10px;
	border:1px solid #999;
	border-radius:6px;
	color:#777;
	font-weight:bold;
	padding:4px 10px;
	height:22px;
	font-size:20px;
	width:120px;
}

div.infoPanel .submitClass {
	display:block;
	padding:8px 10px;
	width:120px;
	outline:none;
	clear:both;
	margin:5px auto;
	border-radius:8px;
	border:1px solid #777;
	text-decoration:none;
	background:#3c3c3c;
	color:#1fe8e0;
	font-size:20px;
}
div.infoPanel .submitClass:hover {
	background:#4c4c4c;
}
div.infoTitle {
	background:url(#{resource['img:logo_tr.png']}) 50% 50% no-repeat #3c3c3c;
	height:75px; width:100%;
	border-radius:15px 15px 0 0;
}