#@page()
<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td valign="top">
			<table border="0" cellpadding="0" cellspacing="0"
				style="background: url(${staticRoot}/images/left_bg.gif)">
				<tr>
					<td><img src="${staticRoot}/images/left_left.gif" width="21"
						height="29" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/spacer.gif" width="7"
						height="1" border="0" alt=""></td>
					<td width="170"><div class="lb">BROWSE BY CATEGORIES</div>
						<div class="lw">BROWSE BY CATEGORIES</div></td>
					<td><img src="${staticRoot}/images/left_right.gif" width="6"
						height="29" border="0" alt=""></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="background: url(${staticRoot}/images/c_left.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
					<td width="194" align="center">#parse("categories.vm")</td>
					<td style="background: url(${staticRoot}/images/c_right.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/c4.gif" width="5"
						height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_bot.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c3.gif" width="5"
						height="5" border="0" alt=""></td>
				</tr>
			</table>
			<div>
				<img src="${staticRoot}/images/spacer.gif" width="1" height="7"
					border="0" alt="">
			</div>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><img src="${staticRoot}/images/c1.gif" width="5"
						height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_top.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c2.gif" width="5"
						height="5" border="0" alt=""></td>
				</tr>
				<tr>
					<td style="background: url(${staticRoot}/images/c_left.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
					<td width="194" align="center"><a href="#"><img
							src="${staticRoot}/images/so_img.jpg" width="116" height="112"
							border="0" alt=""></a>
						<div style="padding: 9px 0 4px 0">
							<img src="${staticRoot}/images/so.gif" width="137" height="15"
								border="0" alt="">
						</div>
						<div class="so">
							<b>Morbi nunc odi gravida.</b>
						</div></td>
					<td style="background: url(${staticRoot}/images/c_right.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/c4.gif" width="5"
						height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_bot.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c3.gif" width="5"
						height="5" border="0" alt=""></td>
				</tr>
			</table>
		</td>
		<td><img src="${staticRoot}/images/spacer.gif" width="4"
			height="1" border="0" alt=""></td>
		<td valign="top">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td rowspan="4"><img src="${staticRoot}/images/new1.jpg"
						width="297" height="188" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/new2.jpg" width="142"
						height="105" border="0" alt=""></td>
				</tr>
				<tr>
					<td style="background: url(${staticRoot}/images/new_bg.jpg)"
						height="22">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="bottom"><img
									src="${staticRoot}/images/ico_click.gif" width="3" height="4"
									border="0" alt="" hspace="6" vspace="4"></td>
								<td><div class="mb">Shopping Cart</div>
									<div class="mw">
										<a href="#" class="aw">Shopping Cart</a>
									</div></td>
							</tr>
						</table>

					</td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/new3.jpg" width="142"
						height="60" border="0" alt=""></td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/spacer.gif" width="1"
						height="1" border="0" alt=""></td>
				</tr>
			</table>
			<div>
				<img src="${staticRoot}/images/spacer.gif" width="1" height="3"
					border="0" alt="">
			</div> #parse("featuredProducts.vm")
		</td>
	</tr>
</table>
#end
