<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="${staticRoot}/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td height="143" width="240"><a href="#"><img src="${staticRoot}/images/logo.gif" width="200" height="37" border="0" alt="Your company name"></a></td>
		<td width="403">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><img src="${staticRoot}/images/c1.gif" width="5" height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_top.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c2.gif" width="5" height="5" border="0" alt=""></td>
				</tr>
				<tr>
					<td style="background: url(${staticRoot}/images/c_left.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td width="393" align="center">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td><img src="${staticRoot}/images/spacer.gif" width="4" height="1" border="0" alt=""></td>
								<td>
									<div class="topmenu">Choose<br>
										your language:</div>
									<div style="padding: 2px"><a href="#"><img src="${staticRoot}/images/language1.gif" width="24" height="15" border="0" alt=""></a><a href="#"><img src="${staticRoot}/images/language2.gif" width="24" height="15" border="0" alt="" hspace="4"></a><a href="#"><img src="${staticRoot}/images/language3.gif" width="24" height="15" border="0" alt=""></a></div>
									<img src="${staticRoot}/images/line_h1.gif" width="106" height="1" border="0" alt="" vspace="5">
									<div class="topmenu">Currencies:</div>
									<div style="padding: 5px 0 5px 0">
										<form>
										<select name="curency" size="1" class="sel1">
							              	<option value="$"> $</option>
							              	<option value="EUR"> EUR</option>
							             </select>
										 </form>
						             </div>
								</td>
								<td><img src="${staticRoot}/images/line_v1.gif" width="1" height="86" border="0" alt="" hspace="9"></td>
								<td>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Specials</u></a></div>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Search</u></a></div>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Contact Us</u></a></div>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Create an account</u></a></div>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Customer Login</u></a></div>
								</td>
								<td><img src="${staticRoot}/images/line_v1.gif" width="1" height="86" border="0" alt="" hspace="9"></td>
								<td>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td><img src="${staticRoot}/images/sc.gif" width="40" height="34" border="0" alt=""></td>
											<td><a href="#" class="top11"><b>Shopping<br>
												Cart</b></a></td>
										</tr>
										<tr><td colspan="2"><img src="${staticRoot}/images/spacer.gif" width="1" height="8" border="0" alt=""></td></tr>
										<tr><td colspan="2"><div class="top11">now in your cart <span class="or11"><b>5 items</b></span></div></td></tr>
									</table>
								</td>
								
							</tr>
						</table>
					</td>
					<td style="background: url(${staticRoot}/images/c_right.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/c4.gif" width="5" height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_bot.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c3.gif" width="5" height="5" border="0" alt=""></td>
				</tr>
			</table>
		</td>
		<td><img src="${staticRoot}/images/spacer.gif" width="5" height="1" border="0" alt=""></td>
	</tr>
</table>




<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td><img src="${staticRoot}/images/menu_left.gif" width="7" height="40" border="0" alt=""></td>
		<td width="635" style="background: url(${staticRoot}/images/menu_bg.gif)">
		
		
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<form>
					<td><div style="padding: 0 6px 0 7px"><input type="text" name="search" size="40" maxlength="256" class="search" value="search"></div></td>
					<td><input type="image" src="${staticRoot}/images/menu_go.gif" border="0" width="38" height="28" alt=""></td>
					</form>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="16"></td>
					<td><div class="mb">Home</div> <div class="mw"><a href="#" class="aw">Home</a></div></td>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="13"></td>
					<td><div class="mb">New Products</div> <div class="mw"><a href="#" class="aw">New Products</a></div></td>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="13"></td>
					<td><div class="mb">My Account</div> <div class="mw"><a href="#" class="aw">My Account</a></div></td>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="13"></td>
					<td><div class="mb">Shopping Cart</div> <div class="mw"><a href="#" class="aw">Shopping Cart</a></div></td>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="13"></td>
					<td><div class="mb">Checkout</div> <div class="mw"><a href="#" class="aw">Checkout</a></div></td>
					
					
				</tr>
			</table>
		
		</td>
		<td><img src="${staticRoot}/images/menu_right.gif" width="6" height="40" border="0" alt=""></td>
	</tr>
</table>
<div><img src="${staticRoot}/images/spacer.gif" width="1" height="7" border="0" alt=""></div>



<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td valign="top">
			<table border="0" cellpadding="0" cellspacing="0"  style="background: url(${staticRoot}/images/left_bg.gif)">
				<tr>
					<td><img src="${staticRoot}/images/left_left.gif" width="21" height="29" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/spacer.gif" width="7" height="1" border="0" alt=""></td>
					<td width="170"><div class="lb">BROWSE BY CATEGORIES</div> <div class="lw">BROWSE BY CATEGORIES</div></td>
					<td><img src="${staticRoot}/images/left_right.gif" width="6" height="29" border="0" alt=""></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0">
			   	<tr>
					<td style="background: url(${staticRoot}/images/c_left.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td width="194" align="center">
						
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Desktops</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Notebooks</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Storage</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Audio Hi-Fi</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Video Hi-Fi</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Fax Machines</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Handlet PCs</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Cables</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Memory</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Networking</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">PDAs</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">Scanners</a></div>
								<div><img src="${staticRoot}/images/line_h2.gif" width="186" height="1" border="0" alt=""></div>
								<div class="lmenu"><img src="${staticRoot}/images/ico2.gif" width="7" height="5" border="0" alt="" hspace="6"><a href="#" class="top11">All Products</a></div>
								</td>
							</tr>
						</table>
					</td>
			   		<td style="background: url(${staticRoot}/images/c_right.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
			   	</tr>
				<tr>
					<td><img src="${staticRoot}/images/c4.gif" width="5" height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_bot.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c3.gif" width="5" height="5" border="0" alt=""></td>
				</tr>
			</table>
			<div><img src="${staticRoot}/images/spacer.gif" width="1" height="7" border="0" alt=""></div>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><img src="${staticRoot}/images/c1.gif" width="5" height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_top.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c2.gif" width="5" height="5" border="0" alt=""></td>
				</tr>
				<tr>
					<td style="background: url(${staticRoot}/images/c_left.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td width="194" align="center">
					
					<a href="#"><img src="${staticRoot}/images/so_img.jpg" width="116" height="112" border="0" alt=""></a>
					<div style="padding: 9px 0 4px 0"><img src="${staticRoot}/images/so.gif" width="137" height="15" border="0" alt=""></div>
					<div class="so"><b>Morbi nunc odi gravida.</b></div>
					
					</td>
					<td style="background: url(${staticRoot}/images/c_right.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/c4.gif" width="5" height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_bot.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c3.gif" width="5" height="5" border="0" alt=""></td>
				</tr>
			</table>
		</td>
		<td><img src="${staticRoot}/images/spacer.gif" width="4" height="1" border="0" alt=""></td>
		<td valign="top">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td rowspan="4"><img src="${staticRoot}/images/new1.jpg" width="297" height="188" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/new2.jpg" width="142" height="105" border="0" alt=""></td>
				</tr>
				<tr><td style="background: url(${staticRoot}/images/new_bg.jpg)" height="22">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="bottom"><img src="${staticRoot}/images/ico_click.gif" width="3" height="4" border="0" alt="" hspace="6" vspace="4"></td>
								<td><div class="mb">Shopping Cart</div> <div class="mw"><a href="#" class="aw">Shopping Cart</a></div></td>
							</tr>
						</table>
				
				</td></tr>
				<tr><td><img src="${staticRoot}/images/new3.jpg" width="142" height="60" border="0" alt=""></td></tr>
				<tr><td><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td></tr>
			</table>
			<div><img src="${staticRoot}/images/spacer.gif" width="1" height="3" border="0" alt=""></div>
			<table border="0" cellpadding="0" cellspacing="0"  style="background: url(${staticRoot}/images/left_bg.gif)">
				<tr>
					<td><img src="${staticRoot}/images/left_left.gif" width="21" height="29" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/spacer.gif" width="7" height="1" border="0" alt=""></td>
					<td width="404"><div class="lb">FEATURED PRODUCTS</div> <div class="lw">FEATURED PRODUCTS</div></td>
					<td><img src="${staticRoot}/images/left_right.gif" width="6" height="29" border="0" alt=""></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="background: url(${staticRoot}/images/c_left.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td width="428" align="center">
					<div><img src="${staticRoot}/images/spacer.gif" width="1" height="12" border="0" alt=""></div>
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="86" align="center"><a href="#"><img src="${staticRoot}/images/img1.jpg" width="79" height="66" border="0" alt=""></a></td>
										<td width="120">
											<div class="item_name">TFT-Monitor</div>
											<div class="item_desc">Morbi nunc odio, gravida at, cursus.</div>
											<div class="item_price"><span class="top11">price:</span> $749.00</div>
											<div style="padding-bottom: 5px"><a href="#"><img src="${staticRoot}/images/but_info.gif" width="53" height="23" border="0" alt=""></a><a href="#"><img src="${staticRoot}/images/but_buy.gif" width="55" height="23" border="0" alt=""></a></div>
										</td>
									</tr>
								</table>
							</td>
							<td style="background: url(${staticRoot}/images/bg_ver.gif) repeat-y center" height="126"><img src="${staticRoot}/images/spacer.gif" width="14" height="1" border="0" alt=""></td>
							<td>
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="86" align="center"><a href="#"><img src="${staticRoot}/images/img2.jpg" width="72" height="56" border="0" alt=""></a></td>
										<td width="120">
											<div class="item_name">Sony®</div>
											<div class="item_desc">Morbi nunc odio, gravida at, cursus.</div>
											<div class="item_price"><span class="top11">price:</span> $149.00</div>
											<div style="padding-bottom: 5px"><a href="#"><img src="${staticRoot}/images/but_info.gif" width="53" height="23" border="0" alt=""></a><a href="#"><img src="${staticRoot}/images/but_buy.gif" width="55" height="23" border="0" alt=""></a></div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="background: url(${staticRoot}/images/bg_hor.gif) repeat-x center"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
							<td><img src="${staticRoot}/images/spacer.gif" width="1" height="19" border="0" alt=""></td>
							<td style="background: url(${staticRoot}/images/bg_hor.gif) repeat-x center"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
						</tr>
						<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="86" align="center"><a href="#"><img src="${staticRoot}/images/img3.jpg" width="86" height="98" border="0" alt=""></a></td>
										<td width="120">
											<div class="item_name">Aurora 7500</div>
											<div class="item_desc">Morbi nunc odio, gravida at, cursus.</div>
											<div class="item_price"><span class="top11">price:</span> $1749.00</div>
											<div style="padding-bottom: 5px"><a href="#"><img src="${staticRoot}/images/but_info.gif" width="53" height="23" border="0" alt=""></a><a href="#"><img src="${staticRoot}/images/but_buy.gif" width="55" height="23" border="0" alt=""></a></div>
										</td>
									</tr>
								</table>
							</td>
							<td style="background: url(${staticRoot}/images/bg_ver.gif) repeat-y center" height="126"><img src="${staticRoot}/images/spacer.gif" width="14" height="1" border="0" alt=""></td>
							<td>
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="86" align="center"><a href="#"><img src="${staticRoot}/images/img4.jpg" width="78" height="56" border="0" alt=""></a></td>
										<td width="120">
											<div class="item_name">Vaio</div>
											<div class="item_desc">Morbi nunc odio, gravida at, cursus.</div>
											<div class="item_price"><span class="top11">price:</span> $779.00</div>
											<div style="padding-bottom: 5px"><a href="#"><img src="${staticRoot}/images/but_info.gif" width="53" height="23" border="0" alt=""></a><a href="#"><img src="${staticRoot}/images/but_buy.gif" width="55" height="23" border="0" alt=""></a></div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div><img src="${staticRoot}/images/spacer.gif" width="1" height="14" border="0" alt=""></div>
					</td>
					<td style="background: url(${staticRoot}/images/c_right.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/c4.gif" width="5" height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_bot.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c3.gif" width="5" height="5" border="0" alt=""></td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<div><img src="${staticRoot}/images/spacer.gif" width="1" height="9" border="0" alt=""></div>
<table border="0" cellpadding="0" cellspacing="0" style="background: #767F82" width="647" align="center">
	<tr>
		<td><img src="${staticRoot}/images/bot_left.gif" width="3" height="7" border="0" alt=""></td>
		<td align="right"><img src="${staticRoot}/images/bot_right.gif" width="4" height="7" border="0" alt=""></td>
	</tr>
</table>
<div><img src="${staticRoot}/images/spacer.gif" width="1" height="6" border="0" alt=""></div>

<table border="0" cellpadding="0" cellspacing="0" width="647" align="center">
	<tr>
		<td><img src="${staticRoot}/images/bot_ps.gif" width="181" height="26" border="0" alt=""></td>
		<td align="right" valign="top"><div class="top11">Copyright © 2005 Company Name <b>Powered by <a href="#" class="top11">osCommerce</a></b><br>
		<a href="http://icetemplates.com/" class="top11">Website Templates</a> by <a href="http://icetemplates.com/" class="top11">IceTemplates.com</a>
		</div></td>
	</tr>
</table>
<div><img src="${staticRoot}/images/spacer.gif" width="1" height="42" border="0" alt=""></div>
<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=1952940; 
var sc_invisible=1; 
var sc_partition=17; 
var sc_security="fa1db912"; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c18.statcounter.com/counter.php?sc_project=1952940&amp;java=0&amp;security=fa1db912&amp;invisible=1" alt="hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
</body>
</html>