#macro(page)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Frontend</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="${staticRoot}/css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="${staticRoot}/scripts/jquery.min.js"></script>
<script type="text/javascript" src="${staticRoot}/scripts/app.js"></script>
<script type="text/javascript">
	var staticRoot = '${staticRoot}';
	var appRoot = '${appRoot}';
</script>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td height="143" width="240"><a href="${appRoot}/index"><img src="${staticRoot}/images/logo.gif" width="200" height="37" border="0" alt="Your company name"></a></td>
		<td width="403">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><img src="${staticRoot}/images/c1.gif" width="5" height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_top.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c2.gif" width="5" height="5" border="0" alt=""></td>
				</tr>
				<tr>
					<td style="background: url(${staticRoot}/images/c_left.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td width="393" align="center">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td><img src="${staticRoot}/images/spacer.gif" width="4" height="1" border="0" alt=""></td>
								
								<td><img src="${staticRoot}/images/line_v1.gif" width="1" height="86" border="0" alt="" hspace="9"></td>
								<td>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Specials</u></a></div>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Search</u></a></div>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Contact Us</u></a></div>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Create an account</u></a></div>
									<div style="padding: 3px 0 3px 0"><img src="${staticRoot}/images/ico.gif" width="9" height="7" border="0" alt=""> <a href="#" class="topmenu"><u>Customer Login</u></a></div>
								</td>
								<td><img src="${staticRoot}/images/line_v1.gif" width="1" height="86" border="0" alt="" hspace="9"></td>
								<td>
									<div id="cartSummary">
										#parse("cartSummary.vm")
									</div>
								</td>
								
							</tr>
						</table>
					</td>
					<td style="background: url(${staticRoot}/images/c_right.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/c4.gif" width="5" height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_bot.gif)"><img src="${staticRoot}/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c3.gif" width="5" height="5" border="0" alt=""></td>
				</tr>
			</table>
		</td>
		<td><img src="${staticRoot}/images/spacer.gif" width="5" height="1" border="0" alt=""></td>
	</tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td><img src="${staticRoot}/images/menu_left.gif" width="7" height="40" border="0" alt=""></td>
		<td width="635" style="background: url(${staticRoot}/images/menu_bg.gif)">
		
		
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<form>
					<td><div style="padding: 0 6px 0 7px"><input type="text" name="search" size="40" maxlength="256" class="search" value="search"></div></td>
					<td><input type="image" src="${staticRoot}/images/menu_go.gif" border="0" width="38" height="28" alt=""></td>
					</form>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="16"></td>
					<td><div class="mb">Home</div> <div class="mw"><a href="#" class="aw">Home</a></div></td>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="13"></td>
					<td><div class="mb">New Products</div> <div class="mw"><a href="#" class="aw">New Products</a></div></td>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="13"></td>
					<td><div class="mb">My Account</div> <div class="mw"><a href="#" class="aw">My Account</a></div></td>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="13"></td>
					<td><div class="mb">Shopping Cart</div> <div class="mw"><a href="${appRoot}/cart/show" class="aw">Shopping Cart</a></div></td>
					<td><img src="${staticRoot}/images/menu_line.gif" width="2" height="29" border="0" alt="" hspace="13"></td>
					<td><div class="mb">Checkout</div> <div class="mw"><a href="#" class="aw">Checkout</a></div></td>
					
					
				</tr>
			</table>
		
		</td>
		<td><img src="${staticRoot}/images/menu_right.gif" width="6" height="40" border="0" alt=""></td>
	</tr>
</table>
<div><img src="${staticRoot}/images/spacer.gif" width="1" height="7" border="0" alt=""></div>


 $!bodyContent##
 
<div><img src="${staticRoot}/images/spacer.gif" width="1" height="9" border="0" alt=""></div>
<table border="0" cellpadding="0" cellspacing="0" style="background: #767F82" width="647" align="center">
	<tr>
		<td><img src="${staticRoot}/images/bot_left.gif" width="3" height="7" border="0" alt=""></td>
		<td align="right"><img src="${staticRoot}/images/bot_right.gif" width="4" height="7" border="0" alt=""></td>
	</tr>
</table>
<div><img src="${staticRoot}/images/spacer.gif" width="1" height="6" border="0" alt=""></div>

<table border="0" cellpadding="0" cellspacing="0" width="647" align="center">
	<tr>
		<td><img src="${staticRoot}/images/bot_ps.gif" width="181" height="26" border="0" alt=""></td>
		<td align="right" valign="top"><div class="top11">Copyright © 2012 Company Name <b>Powered by <a href="#" class="top11">Prime Technology</a></b><br>
		</div></td>
	</tr>
</table>
<div><img src="${staticRoot}/images/spacer.gif" width="1" height="42" border="0" alt=""></div>
</body>
</html>


#end