#@page()<center>Enter your credit card information</center><form method="POST">      <table border="0" cellpadding="0" cellspacing="0" align="center">          <tr>              <td>Credit Card Number</td>              <td> #springFormInput("payment.cardNumber" "maxlength=16")<br/>              	 #springShowErrors("<br>" "")<br>              </td>		 </tr>      </table>            <br/><br/>      <center><input type="submit" value="submit"/></center>       </form>#end