#@page()
<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0"
				style="background: url(${staticRoot}/images/left_bg.gif)">
				<tr>
					<td><img src="${staticRoot}/images/left_left.gif" width="21"
						height="29" border="0" alt=""></td>
					<td><img src="${staticRoot}/images/spacer.gif" width="7"
						height="1" border="0" alt=""></td>
					<td width="404"><div class="lb">Product</div>
						<div class="lw">Product</div></td>
					<td><img src="${staticRoot}/images/left_right.gif" width="6"
						height="29" border="0" alt=""></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="background: url(${staticRoot}/images/c_left.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
					<td width="428" align="center">
						<div>
							<img src="${staticRoot}/images/spacer.gif" width="1" height="12"
								border="0" alt="">
						</div>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td width="86" align="center"><a href="#"><img
													src="${product.photos[0].fileName}" width="79" height="66"
													border="0" alt=""></a></td>
											<td width="120">
												<div class="item_name">${product.title}</div>
												<div class="item_desc">${product.description}</div>
												<div class="item_price">
													<span class="top11">price:</span> ${product.price}
												</div>
												<div style="padding-bottom: 5px">
													<form method="post" action="${appRoot}/cart/add/${product.url}">
														<input type="image" src="${staticRoot}/images/but_buy.gif" width="55"
															height="23"/>
													</form>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<div>
							<img src="${staticRoot}/images/spacer.gif" width="1" height="14"
								border="0" alt="">
						</div>
					</td>
					<td style="background: url(${staticRoot}/images/c_right.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
				</tr>
				<tr>
					<td><img src="${staticRoot}/images/c4.gif" width="5"
						height="5" border="0" alt=""></td>
					<td style="background: url(${staticRoot}/images/c_bot.gif)"><img
						src="${staticRoot}/images/spacer.gif" width="1" height="1"
						border="0" alt=""></td>
					<td><img src="${staticRoot}/images/c3.gif" width="5"
						height="5" border="0" alt=""></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

#end
