<GVPSRequest>   <Mode>TEST</Mode>    <ChannelCode>S</ChannelCode>    <Version>v0.1</Version>    <Terminal>     <ProvUserID>${userId}</ProvUserID>      <HashData>${hashData}</HashData>      <UserID>${userId}</UserID>      <ID>${terminalId}</ID>      <MerchantID>${merchantId}</MerchantID>   </Terminal>    <Order>     <OrderID/>      <GroupID/>   </Order>    <Customer>     <IPAddress>http://95.6.16.156</IPAddress>      <EmailAddress>contact@prime.com.tr</EmailAddress>   </Customer>    <Card>     <Number>${card.cardNumber}</Number>      <ExpireDate>${card.month}${card.year.substring(2,4)}</ExpireDate>    <CVV2>${card.cvc}</CVV2>    </Card>    <Transaction>     <Type>sales</Type>      <Amount>${amount}</Amount>      <CurrencyCode>949</CurrencyCode>      <MotoInd>N</MotoInd>   </Transaction> </GVPSRequest>