<?xml version="1.0" encoding="UTF-8"?><GVPSRequest><Mode>TEST</Mode><Version>v0.1</Version><Terminal><ProvUserID>PROVRFN</ProvUserID><HashData>${hashData}</HashData>   <UserID>${userId}</UserID>      <ID>${terminalId}</ID>      <MerchantID>${merchantId}</MerchantID> </Terminal><Customer><IPAddress>95.6.16.156</IPAddress>  </Customer><Order><OrderID>${orderNo}</OrderID>  </Order><Transaction><Type>refund</Type> <Amount>${amount}</Amount>  <CurrencyCode>949</CurrencyCode></Transaction></GVPSRequest> 