body{-webkit-text-size-adjust:none;}
input[type="image"] {
	padding: 0;
	border: 0;
}
input[type=text],
input[type=password],
input[type=submit],
input[type=file],
textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0 !important;
}
input[type=radio] {
	width:16px;
	height:16px;
}