#cerceve {
	background-color: #f4f1f1;
	height: 738px;
	width: 100%;
}

#headerTitle {
	text-align: center;
	margin-bottom: 30px;
	color: white;
	font-size:22px;
}

#box_cerceve {
	height: 467px;
	width: 593px;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(#{resource['img/login:box_zemin.png']});
	background-repeat: repeat-x;
}
#icerik_cerceve {
	float: left;
	height: 340px;
	width: 463px;
	margin-top: 21px;
	margin-left: 55px;
}
#fillin {
	float: left;
	height: 116px;
	width: 463px;
}
#j_username {
	float: left;
	height: 44px;
	width: 461px;
	background-image: url(#{resource['img/login:signin_box.png']});
	text-indent: 22px;	
	color: #FFFFFF;
	border: none;
	font-size: 18px;
	letter-spacing : 1px;
}
#j_password {
	float: left;
	height: 46px;
	width: 461px;
	background-image: url(#{resource['img/login:signin_email.png']});
	margin-top: 18px;
	font-size: 18px;
	color: #FFFFFF;
	text-indent: 22px;
	letter-spacing: 1px;
	border: none;
}
#box_left {
	float: left;
	height: 467px;
	width: 7px;
	background-image: url(#{resource['img/login:box_left.png']});
	background-repeat: no-repeat;
}
#alt_alan {
	float: left;
	height: 46px;
	width: 463px;
	margin-top: 44px;
}

#gonder_btn {
	float: right;
	height: 43px;
	width: 111px;
	font-family: "Museo 300";
	font-size: 24px;
	color: #f2f2f2;
}
#enalt_alan {
	float: left;
	height: 17px;
	width: 100%;
	margin-top: 95px;
	font-size: 14px;
	color: #000000;
}
#sifreunut {
	float: left;
	height: 17px;
}
#line {
	background-image: url(#{resource['img/login:line.png']});
	background-repeat: no-repeat;
	float: left;
	height: 4px;
	width: 6px;
	margin-left: 10px;
	margin-top: 10px;
}
.loginText {
	font-weight: bold;
}
#uyeolmak {
	float: right;
	height: 17px;
}
#box_right {
	float: right;
	height: 467px;
	width: 7px;
	background-image: url(#{resource['img/login:box_right.png']});
	background-repeat: no-repeat;
}
.colsLeft {
	vertical-align: top;
}

.colsRight {
	vertical-align: top;
	margin-left: 50px;
}
